<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000549122933-bvauicnamdddk2nn6nvdapocmlfn3rc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000549122933-bvauicnamdddk2nn6nvdapocmlfn3rc7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1000549122933-bpd0h0fui63em3kd2p2s29o0b6ieoa56.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1DiDC4Npap0jDty-QWJUhzV3TN_2Jgc0</string>
	<key>GCM_SENDER_ID</key>
	<string>1000549122933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hydrasmart</string>
	<key>PROJECT_ID</key>
	<string>hydra-smart-2tpmqj</string>
	<key>STORAGE_BUCKET</key>
	<string>hydra-smart-2tpmqj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000549122933:ios:7326beda18293af611093c</string>
</dict>
</plist>